@model Week3Project.Models.BranchModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Branch</title>
</head>
<body>
    <h2>Add Branch</h2>

    @using (Html.BeginForm("AddBranch", "Librarian", FormMethod.Post))
    {
        <div>
            <label for="Name">Enter the Branch Name:</label>
            @Html.EditorFor(model => model.Name)
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Name)</span>
        </div>

        <div>
            <input type="submit" value="Add Branch" />
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <p class="text-danger">@TempData["ErrorMessage"]</p>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <p class="text-success">@TempData["SuccessMessage"]</p>
    }
     <div>
     
     <button type="button" onclick="window.location.href='@Url.Action("DashBoard", "Librarian")'">Go to Dashboard</button>
     <button type="button" onclick="window.location.href='@Url.Action("Index", "Librarian")'">mainmenu</button>
 </div>

</body>
</html>
