@model Week3Project.Models.BookModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Book Stock</title>
</head>
<body>
    <h2>Add Book Stock</h2>

    @using (Html.BeginForm("AddStock", "Librarian", FormMethod.Post))
    {
        <div>
            <label for="Title">Enter the Title:</label>
            @Html.EditorFor(model => model.Title)
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Title)</span>
        </div>

        

        <div>
            <label for="Quantity">Enter the Quantity:</label>
            @Html.EditorFor(model => model.Quantity)
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Quantity)</span>
        </div>

        if (TempData["ErrorMessage"] != null)
        {
            <p class="text-danger">@TempData["ErrorMessage"]</p>
        }
        if (TempData["SuccessMessage"] != null)
        {
            <p class="text-success">@TempData["SuccessMessage"]</p>
        }


        <div>
            <input type="submit" value="Add Stock" />
            <button type="button" onclick="window.location.href='@Url.Action("DashBoard", "Librarian")'">Go to Dashboard</button>
            <button type="button" onclick="window.location.href='@Url.Action("Index", "Librarian")'">mainmenu</button>
        </div>
    }
</body>
</html>
