@model Week3Project.Models.StudentReportModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Student</title>
</head>
<body>

    @using (Html.BeginForm("AddStudent", "Librarian", FormMethod.Post))
    {
        <div>
            <label for="Name">Enter the Name:</label>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div>
            <label for="Username">Enter the Username:</label>
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div>
            <label for="Password">Enter the Password:</label>
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

       if (TempData["ErrorMessage"] != null)
        {
            <p class="text-danger">@TempData["ErrorMessage"].ToString()</p>
        }
       if (TempData["SuccessMessage"] != null)
        {
            <p class="text-success">@TempData["SuccessMessage"].ToString()</p>
        }

        <div>
            <input type="submit" value="Add Student" />
            <button type="button" onclick="window.location.href='@Url.Action("DashBoard", "Librarian")'">Go to Dashboard</button>
            <button type="button" onclick="window.location.href='@Url.Action("Index", "Librarian")'">mainmenu</button>
        </div>
    }
</body>
</html>
