@model Week3Project.Models.DashBoard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashBoard</title>
</head>
<body>
    <h2>Librarian Dashboard</h2>

    @*<button onclick="displayAllData()">Show All Data</button>

        <div id="allDataSection" style="display:none;">
            @if (Model.Publications != null && Model.Publications.Any())
            {
                <h3>Publications:</h3>
                <ul>
                    @foreach (var publication in Model.Publications)
                    {
                        <li>@publication.Title - @publication.Author - @publication.Year</li>
                    }
                </ul>
                <br />
            }
            @if (Model.Students != null && Model.Students.Any())
            {
                <h3>Students:</h3>
                <ul>
                    @foreach (var student in Model.Students)
                    {
                        <li>@student.StudentId - @student.Name - @student.Username - @student.Password</li>
                    }
                </ul>
                <br />
            }
            @if (Model.Books != null && Model.Books.Any())
            {
                <h3>Books:</h3>
                <ul>
                    @foreach (var book in Model.Books)
                    {
                        <li>@book.Title - @book.Id - @book.Quantity</li>
                    }
                </ul>
                <br />
            }
            @if (Model.Branches != null && Model.Branches.Any())
            {
                <h3>Branches:</h3>
                <ul>
                    @foreach (var branch in Model.Branches)
                    {
                        <li>@branch.Name</li>
                    }
                </ul>
                <br />
            }
            @if (Model.IssueDates != null && Model.IssueDates.Any())
            {
                <h3>Issue Dates:</h3>
                <ul>
                    @foreach (var issueDate in Model.IssueDates)
                    {
                        <li>@issueDate.Name - @issueDate.IssueDate - @issueDate.ReturnDate</li>
                    }
                </ul>
                <br />
            }
            @if (Model.ReturnDates != null && Model.ReturnDates.Any())
            {
                <h3>Return Dates:</h3>
                <ul>
                    @foreach (var returnDate in Model.ReturnDates)
                    {
                        <li> @returnDate.Name -@returnDate.IssueDate - @returnDate.ReturnDate</li>
                    }
                </ul>
                <br />
            }*@

    <ul>
        <li>@Html.ActionLink("AddPublication", "AddPublication", "Librarian")</li>
        <li>@Html.ActionLink("AddStock", "AddStock", "Librarian")</li>
        <li>@Html.ActionLink("Add Student", "AddStudent", "Librarian")</li>
        <li>@Html.ActionLink("IssueBook", "IssueDate", "Librarian")</li>
        <li>@Html.ActionLink("AddBranch", "AddBranch", "Librarian")</li>
        <li>@Html.ActionLink("ReturnBook", "ReturnDate", "Librarian")</li>
    </ul>

    <button type="button" onclick="window.location.href='@Url.Action("Index", "Librarian")'">mainmenu</button>

    <script>
        function displayAllData() {
            document.getElementById("allDataSection").style.display = "block";
        }
    </script>
</body>
</html>
