@model Week3Project.Models.ReturnDateModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Return Book</title>
</head>
<body>
    <h2>Return Book</h2>

    @using (Html.BeginForm("ReturnDate", "Librarian", FormMethod.Post))
    {
        <div>
            <label for="Name">Name:</label>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div>
            <label for="Return Date">Return Date</label>
            @Html.EditorFor(model => model.IssueDate)
            @Html.ValidationMessageFor(model => model.IssueDate)
        </div>


        if (TempData["ErrorMessage"] != null)
        {
            <p class="text-danger">@TempData["ErrorMessage"]</p>
        }
        if (TempData["SuccessMessage"] != null)
        {
            <p class="text-success">@TempData["SuccessMessage"]</p>
        }

        <div>
            <input type="submit" value="Enter details" />
            <button type="button" onclick="window.location.href='@Url.Action("DashBoard", "Librarian")'">Go to Dashboard</button>
            <button type="button" onclick="window.location.href='@Url.Action("Index", "Librarian")'">mainmenu</button>
        </div>
    }
</body>
</html>
